<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @document.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @document.body %>
</p>

<p>
  <strong>State:</strong>
  <%= @document.state %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
