<!DOCTYPE html>
<html>
  <head>
    <title>VueExample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if content_for? :head %>
      <%= yield :head %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
